<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Reader Scraper</title>
</head>
<div class="wrapper">

    <nav>
        <header>
            {{!-- <div class="row">
                <div class="col l3">
                    <h5>Mongo Scraper</h5>
                </div>
                <div class="col l9 right-align">
                    <h5>
                        <a><span>Clear Saved</span></a>
                        <span>Saved Articles</span>
                        <span>Scrape Articles</span>

                    </h5>
                </div>
            </div> --}}
            <div class="row">
                <div class="nav-wrapper">
                    <div class="col l3">
                        <h5><a href="/">Home</a></h5>
                    </div>
                    <div class="col l9">
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="/clear">Clear Saved</a></li>
                            <li><a href="/saved">Saved Articles</a></li>
                            <li><a href="/scrape">Scrape Articles</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </nav>

    <body>
        {{{body}}}

</div>
<div class="push"></div>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <span class="date-text">© 2019 Copyright</span>
            <a class="right btn footer-button" href="https://github.com/nikorasu-san/BudgetManager">Github</a>
        </div>
    </div>
</footer>
<script src="/assets/javascript/front.js"></script>
</body>


</html>