* {
    box-sizing: border-box;
}
html,body {
    height:100%;
    margin:0;
}

body {
    background-image: url("../images/neonreader.jpg");
    background-size: cover;
}

header,nav{
    background-color: gold;
}

.nav-text,i,.date-text {
    color: black;
}

footer,.push {
    height:100px;
}

.wrapper {
min-height:100%;
margin-bottom: -50px;
}

h1 {
    margin-bottom: 27%;
    margin-top: 20%;
    font-size: 80px;
    color: gold;
    text-shadow: 5px 5px 5px darkgoldenrod;
}

h5 {
    margin-left: 7%;
}
.card-panel,.card{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #ffd700eb;
    box-shadow: 6px 5px 5px darkgoldenrod;
}


.card-content {
    background-color: beige;
}

.bg-blue {
    background-color: darkcyan;
}

button,.btn {
    height: auto;
    margin: 2%;
    width: 100%;
    box-shadow: 3px 3px 3px grey;
}

.btn:hover {
    background-color: #039be5;
}

.footer-button,.submit-button {
    width: auto!important;
    margin: 0%;
}

h4 {
    margin-top: 0!important;
}

.page-footer{
    background-color: gold;
    color: white;
}

.btn {
    background-color: black;
    color: white;
}

#actions {
    background-color: #20231bde;
    color: white;
    box-shadow: 6px 5px 5px darkgrey;
    padding: 1%;
}