* {
    box-sizing: border-box;
}
html,body {
    height:100%;
    margin:0;
}

header,nav{
    background-color: gold;
}

.nav-text,i {
    color: black;
}

footer,.push {
    height:100px;
}

.wrapper {
min-height:100%;
margin-bottom: -50px;
}

.card-panel,.card{
    margin-left: 5%;
    margin-right: 5%;
    background-color: gold;
}

.card-content {
    background-color: beige;
}

.bg-blue {
    background-color: darkcyan;
}

button,.btn {
    height: auto;
    margin: 2%;
    width: 100%;
}

.footer-button,.submit-button {
    width: auto!important;
    margin: 0%;
}

h4 {
    margin-top: 0!important;
}

.page-footer{
    background-color: darkgrey;
    color: white;
}

.btn {
    background-color: black;
    color: white;
}

#actions {
    background-color: black;
    color: white;
}